extends layout 

block content 
  p Are you sure you want to delete this item?
  form(action="", method="post") 
    input#itemid(type="hidden" name='itemid' required='true' value=item._id)
    p 
      button(type='submit') Submit