doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul.sidebar 
      li 
        a(href="/") Home 
      li 
        a(href="/categories") Browse Categories
      li 
        a(href="#") Create Category
      li 
        a(href="#") Create Item
    .main 
      h1=title
      block content
